body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    color: white;
}
header {
    background-image: url('images/pic_1.jpg');
    background-size: cover;
    background-position: center;
}

.header-wrapper {
    max-width: 1106px;
    padding-top: 38px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 232px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.title-container {
    width: 1106px;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 120px;
    font-weight: 700px;
    margin: auto;
    padding-top: 168px;
}

.profiles {
    display: flex;
    justify-content: space-between;
}
.profiles div img {
    width: 150px;
    border-radius: 50%;
}

.subtitle-container {
    width: 253px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
}
button {
    appearance: none;
    outline: none;
}

.register-button {
    border-radius: 22px;
    text-align: center;
    width: 181px;
    height: 44px;
    background-color: #C271FF;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    appearance: none;
    padding: 0px;
    border: none;
    cursor: pointer;
}

.register-button p {
    height: 18px;
    width: 121px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    font-style: normal;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.h2 {
    font-weight: bold;
}

.first-word {
    color: #C271FF;
    font-weight: bold;
}

.profiles {
    padding-bottom: 58px;
}

.testimonial {
    background-color: #C271FF;
    display: flex;
    justify-content: center;
}

.testimonial img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimonial-container {
    width: 950px;
    height: 392px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    font-size: 22px;
}

blockquote {
    margin: 0;
}

.name {
    font-weight: bold;
}

.tutorials {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;;
    flex-direction: column;
    margin: auto;
    color: #071629;
}

.tutorials h1 {
    margin: 100px;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: 071629;
}

.tutorials-container {
    width: 1111px;
    display: flex;
    margin: auto;
}

.tutorials img {
    width: 255px;
}

.tutorials-container h2 {
    color:#071629;
    position: absolute;
    margin-top: 160px;
    width: 255px;
    font-size: 16px;
    font-weight: 700;
}

.tutorials-container h3 {
    color:#C271FF;
    font-weight: 600;
    position: absolute;
    margin-top: 300px;
    width: 255px;
}

.rating p {
    color: #C271FF;
    margin-top: 220px;
}

.thumbnails {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.video-description {
    color: rgba(7, 22, 41, 0.50);
    position: absolute;
    width: 255px;
    margin-top: 200px;
}

.thumbnail-photo {
    position: absolute;
    width: 255px;
}

.play-button {
    position: absolute;
    max-width: 64px;
    top: 46px;
    right: 117px;
}