body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    color: white;
}
header {
    background-image: url('images/pic_1.jpg');
    background-size: cover;
    background-position: center;
}

.header-wrapper {
    max-width: 1106px;
    padding-top: 38px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 232px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.title-container {
    width: 800px;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 120px;
    font-weight: 700px;
    margin: auto;
    padding-top: 168px;
}

.profiles {
    display: flex;
    justify-content: space-between;
}
.profiles div img {
    width: 150px;
    border-radius: 50%;
}

.subtitle-container {
    width: 253px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
}
button {
    appearance: none;
    outline: none;
}

.register-button {
    border-radius: 22px;
    text-align: center;
    width: 181px;
    height: 44px;
    background-color: #C271FF;
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    appearance: none;
    padding: 0px;
    border: none;
}

.register-button p {
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    padding: 0px;
}